
@{
    ViewBag.Title = "SektorEkle";
}
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Sektör Ekleme Sayfası
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Sektor/SektorEkle" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Sektör Adı
                            </label>
                            <input type="text" name="sektorADI" class="form-control" id="exampleInputEmail1" placeholder="Sektör Adı Giriniz">
                        </div>

                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



